*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    background-color: black;
    color: white;
}
.app-container {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    text-align: center;
}